/* Custom style */
/* Normalize */
:root {
	--font-family-sans-serif:	'Rubik', #{inspect($font-family-sans-serif)};
	--font-family-serif:		'Gelasio', #{inspect($font-family-serif)};
}

button:focus,.btn:focus {
	outline:    0;
	box-shadow:	none;
}

.custom-select {
	-moz-appearance:    none;
	-webkit-appearance:	none;
}

/* Tables */
.table {
	caption {
		caption-side:	top;
	}

	th {
        min-width:      122px;
        vertical-align:	middle;
        text-align:		right;
	}

	td {
        vertical-align:	middle;
	}
}

/* Typography */
article {
	font-family:	var(--font-family-serif);
	font-size:		105%;
}

.p {
	margin-bottom:	$paragraph-margin-bottom;
	font-size:		inherit;
	line-height:	$line-height-base;
}

.large {
	font-size:		$large-font-size;
	line-height:	$line-height-lg;
}

.small {
	font-size:	$small-font-size;
}

.serif {
	font-family:	var(--font-family-serif);
}

.sans-serif {
	font-family:	var(--font-family-sans-serif);
}

.fa {
    &-copyright {
        transform:  scale(-1, 1);
    }

    &-colourize .fa {
        &-envelope-square {
            color:	color("yellow")
        }

        &-phone-square-alt {
            color:	color("green");
        }

        &-telegram {
            color:	#0088cc;
        }

        &-github {
            color: #333333;
        }
	}
}

/* Buttons */
.btn {
    letter-spacing:	.05rem;

    &:not([href]) {
        color:  $primary;

        &:hover {
            color:  white;
        }
    }

	&.stretched-link {
		&:hover::after {
			background-color:	transparentize(black, .9);
		}

		&::after {
			border-width:	$btn-border-width;
			border-style:	solid;
			border-color:	$border-color;
			border-radius:	$border-radius;
			transition:		$btn-transition;
		}
	}
}

/* Layout */
body {
	display:			flex;
	flex-direction:		column;
	justify-content:	space-between;
	min-height:			100vh;

	main {
		flex-grow:	1;
	}
}

.container {
	padding-right:	$grid-gutter-width;
	padding-left:	$grid-gutter-width;
}

/* Navigation */
.navbar {
	&-nav .nav-link {
		padding-right:	$navbar-nav-link-padding-x;
		padding-left:	$navbar-nav-link-padding-x;
		letter-spacing:	.05rem;
	}

	&-expand-sm {
		@include media-breakpoint-only(xs) {
			padding-top:	1.75 * ($nav-link-padding-y / 3);
			padding-bottom:	1.75 * ($nav-link-padding-y / 3);

			.nav-link {
				margin-top:		.25 * ($nav-link-padding-y / 3);
				margin-bottom:	.25 * ($nav-link-padding-y / 3);
				padding-top:	$nav-link-padding-y / 3;
				padding-bottom:	$nav-link-padding-y / 3;
			}
		}
	}

	&-dark .nav-link {
		border-width:	$btn-border-width;
		border-style:	solid;
		border-color:	transparent;
		transition:		$btn-transition;
		border-radius:	$border-radius-sm;

		&.active {
			border-color:		transparentize(white, .9);
			background-color:	transparentize(white, .9);
		}

		&:hover {
			border-color:		transparentize(white, .9);
			background-color:	transparentize(white, .8);
		}

		&:focus {
			background-color:	transparentize(white, .7);
			color:				white;
		}
	}
}

/* Cards */
.card {
	&-header {
		@include gradient-bg($light);
	}

	&-title {
		margin-bottom: 0;
	}

	&-text {
		font-family:	var(--font-family-serif);
		font-size:		105%;
	}

	&-footer {
		@include gradient-bg($light);
	}
}

/* List group */
.list-group-item-action {
	font-size:		$font-size-base;
	line-height:	$line-height-base;
	transition:		$btn-transition;

	&:hover {
		text-decoration:	underline;
	}
}

/* Anti-bot */
bdo:before {
	content:		attr(data-insert);
	unicode-bidi:	inherit;
	direction:		rtl;
}
